@media screen and (max-width: 2000px) {
  .app__video-overlay {
    position: absolute;
    font-size: 60px;
    inset: 50em 50rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 1150px) {
  .app__video-overlay {
    position: absolute;
    font-size: 60px;
    inset: 58em 28rem;
    cursor: pointer;
  }
}

@media screen and (max-width: 650px) {
  .app__video-overlay {
    position: absolute;
    font-size: 60px;
    inset: 58em 20rem;
    cursor: pointer;
  }
}
