.app__video-overlay {
  position: absolute;
  font-size: 500px;
  inset: auto;
  background: rgba(0, 0, 0, 0.65);
}

.app__video-overlay_circle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid var(--color-gold);
  cursor: pointer;
}
